<div class="single-post" *ngIf="post">
	<div class="card">
		<div class="imgmax">
			<img src={{fullPathImg}} alt="Image" class="card-img-top"/>
		</div>
		<div class="card-body">
			<h4 class="card-title">{{post.title}}</h4>
			<em class="card-subtitle">{{ realDate | date:short }}</em>
			<p class="card-text">{{ post.content}}</p>
			<span *ngIf="post.tags">
				<a href="#" *ngFor="let tag of post.tags" class="badge badge-pill badge-dark">{{tag}}</a>
			</span>
		</div>
	</div>
	<button type="button" class="btn btn-secondary mt-5" [routerLink]="[posts]">Retour</button>
</div>