<div class="container-fluid mb-2">
	<div class="row">
		<div class="col-12 text-center sitename">
			<a routerLink="/" class="float-md-left">
				<img src="assets/ressources/logo_inv.png" class="logo">
			</a>
			<h1 class="mt-md-4 ml-2">{{title}}</h1>
			<div class="float-md-right mt-md-5">
				<a href="https://www.facebook.com/BlackSmokeDraw/"
					class="mr-3">
					<img src="assets/ressources/fb.png" alt="facebook Page" width="25px"/>
				</a>
				<a href="https://www.deviantart.com/borela02"
					class="mr-3">
					  <img src="assets/ressources/DA.png" alt="Deviant Art Page" width="25px"/>
				</a>
				<a href="mailto:victor.ledoux18@gmail.com"
				class="mr-3">
				  <img src="assets/ressources/mail.png" alt="Mail: victor.ledoux18@gmail.com" width="25px"/>
				</a>
			</div>
		</div>
	</div>
</div>