<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
    <div class="collapse navbar-collapse">
        <ul class="flex-md-column flex-row w-100 navbar-nav justify-content-between">
            <!-- Main tags -->
            <li class="nav-item">
                <h5 class="col-xs-12 col-md-2">Tags principaux</h5>
            </li>
            <li class="nav-item" 
                *ngFor="let tag of mainTags;let i = index">
                <a class="badge badge-pill badge-secondary" 
                    (click)="onSelectTag(i)" routerLink="posts">
                    {{tag.value}}
                </a>
                <button *ngIf="tag.active"
                        class="badge badge-pill badge-light"
                        (click)="onRemoveFilter(i)">x</button>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
    <div class="collapse navbar-collapse">
        <ul class="flex-md-column flex-row w-100 navbar-nav justify-content-between">
            <!-- Actives tags -->
            <li class="nav-item">
                <h5 class="col-xs-12 col-md-2">Tags actifs</h5>
            </li>

            <li class="nav-item" 
                *ngFor="let filter of activeFilters;let i = index">
                <a class="badge badge-pill badge-secondary" 
                    (click)="onSelectTag(i)">
                    {{filter}}
                </a>
                <button class="badge badge-pill badge-light"
                        (click)="onRemoveByTag(filter)">x</button>
            </li>
            
        </ul>
    </div>

    <form class="form" (ngSubmit)="onSubmitFilters(f)" #f="ngForm" >
        <div class="input-group mb-3 mt-3">
            <input class="form-control" type="search" placeholder="ex: dessin, montage" aria-label="Search" name="search" ngModel aria-describedby="basic-addon2" title="separez vos recherche par des ,">
            <div class="input-group-append">
                <button class="btn btn-secondary input-group-text withTooltip" data-toggle="tooltip" data-placement="bottom" id="basic-addon2" type="button" (click)="onClearFilters()" title="Supprimer les filtres">✘ </button>
            </div>
        </div>
    </form>
</nav>