<div class="post" >
	<div class="card m-1">
		<img src={{imgPath}} alt="Image" class="card-img-top"/>
		<div class="card-body">
			<h4 class="card-title">{{title}}</h4>
			<em class="card-subtitle">{{ realDate | date:short }}</em>
			<p class="card-text">{{ (content.length >6) ? (content | slice:0:50)+'...':(content) }}</p>
			<a [routerLink]="[id]">Voir plus..</a>	
		</div>
		<div class="card-footer p-0 pr-2 pl-2">
			<p class="m-0 p-2">
				<a href="#" *ngFor="let tag of tags | slice:0:3 ;" class="badge badge-pill badge-secondary">{{tag}}</a>
				<a [routerLink]="[id]" *ngIf="tags.length > 3" class="badge badge-pill badge-dark">...</a>
			</p>		
		</div>
	</div>
</div>


