<app-header></app-header>
<h1 class="m-5">{{title}}</h1>
<router-outlet></router-outlet>

<footer class="page-footer font-small text-white bg-secondary pt-5 pl-4">
	<div class="container ml-2">
		<div class="row">
			<dl class="col-xs-3">
			  <dt>Mail : </dt>
			  <dd><em>victor.ledoux18@gmail.com</em></dd>
			  <dt>Pages :</dt>
			  <dd>
			  		<a href="https://www.facebook.com/BlackSmokeDraw/">
			  			<img src="assets/ressources/fb.png" alt="facebook Page"/>
			  		</a>
			  		<a href="https://www.deviantart.com/borela02">
			  			<img src="assets/ressources/DA.png" alt="Deviant Art Page"/>
			  		</a>
			  </dd>
			</dl>
		</div>
	</div>
</footer>