<div class="container-fluid">
	<div class="row ml-1 mb-3">
		<h6 class="col-xs-2 p-2 mt-2" >Tri :</h6>
		<button class="btn btn-ligh m-1" (click)="changeTri('id')">Aucun
			<span *ngIf="tri=='id'" class="badge badge-pills badge-secondary">✔</span>
		</button>
		<button class="btn btn-ligh m-1" (click)="changeTri('dat')">Plus recent
			<span *ngIf="tri=='dat'" class="badge badge-pills badge-secondary">✔</span>
		</button>
		<button class="btn btn-ligh m-1" (click)="changeTri('dat-')">Plus vieux
			<span *ngIf="tri=='dat-'" class="badge badge-pills badge-secondary">✔</span>
		</button>
		<button class="btn btn-ligh m-1" (click)="changeTri('tit')">Titres
			<span *ngIf="tri=='tit'" class="badge badge-pills badge-secondary">✔</span>
		</button>
	</div>

	<div class="row">
		<app-post 	class="col-12 col-sm-6 col-lg-4"
					*ngFor="let post of displayablePosts"
	              [title]="post.title"
	              [content]="post.content"
	              [date]="post.date" 
	              [photo]="post.photo"
	              [tags]="post.tags"
	              [id]="post.id">
		</app-post>
	</div>
</div>

